//=================================================
// Header
//=================================================

header {
    > .wrapper {
        padding-top: $header_padding_t;
        padding-bottom: $header_padding_b;
        
        @media #{$media_sm} {
            .menu-toggle {
                .icon-menu {
                    display: none;
                }
            }
            
            .w-75 {
                width: 100% !important;
            }
        }
    }

    .header-row {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 1.5rem;

        nav.menu-third {
            margin-left: auto;
            align-self: flex-end;
        }
    }
}
