.services {
    left: 0;
    top: 0;
    h5 {
        margin-bottom: 0em;
    }
    h6{
        margin-top: 2rem;
        margin-bottom: 5px;
    }
    p {
        font-size : 0.9rem;
        margin-bottom : 5px;
    }
    ul {
        list-style: none !important;
        li {
            padding: 0;
        }
    }
            
}